@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 5px;
}

.logo-img {
    margin: 0.5rem;
}

.navbar li {
    margin: 5px;
    padding: 5px;
    list-style: none;
}

.navbar li a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

.navbar li a:hover {
    color: #84b2f6;
    font-weight: bolder;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
}

.text-box {
    width: 40vw;
    min-width: 200px;
    height: 5vh;
    min-height: 30px;
    border: none;
    padding: 0 12px;
    border-radius: 10px 0 0px 10px;
}

.search-img {
    height: 5vh;
    width: 3vw;
    min-width: 30px;
    background-image: none;
    min-height: 30px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

.main-container {
    min-height: calc(100vh - 12vh);
}

.slider {
    overflow: hidden;
    margin: 5px 0;
}

.img {
    display: inline-flex;
    height: 30vh;
}

.img1 {
    display: inline-block;
    margin: 0 5vw;
    width: 90vw;
    height: 30vh;
    transform: translateX(-100vw);
    animation: slider 9s 5s infinite forwards;
}

.img2 {
    display: inline-block;
    margin: 0 5vw;
    width: 90vw;
    height: 30vh;
    transform: translateX(-100vw);
    animation: slider 9s 5s infinite forwards;
}

.img3 {
    display: inline-block;
    margin: 0 5vw;
    width: 90vw;
    height: 30vh;
    transform: translateX(-100vw);
    animation: slider 9s 5s infinite forwards;
}


@keyframes slider {
    0% {
        transform: translateX(-100vw);
    }

    25% {
        transform: translateX(0vw);
    }

    50% {
        transform: translateX(-100vw);
    }

    75% {
        transform: translateX(-200vw);
    }
}

.cards {
    margin: 30px auto;
    width: 90vw;
}

.title {
    margin: 20px 0;
}

.card {
    display: flex;
    justify-content: left;
    overflow: auto;
}


.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.des,
.discount,
.buy {
    text-align: center;
    margin: 5px 0;
}

.footer {
    height: 12vh;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 0.9rem;
}