.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.bg-black {
    background-color: #172337;
    color: white;
}

.bg-blue {
    background-color: #2874f0;
    color: white;
}

.btn {
    height: 5vh;
    width: 3vw;
    min-height: 30px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}